$container: 1040px;
$tablet: 768px;
$mobile: 420px;

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0 1em;
	width: 1040px;
	max-width: 100%;
	background-color: $white;
	@media (prefers-color-scheme: dark) {
		background: rgb(0, 0, 0);
			background: linear-gradient(164deg, rgba(0, 0, 0, 1) 0%, rgba(13, 52, 79, 1) 34%, rgba(68, 14, 58, 1) 70%, rgba(0, 0, 0, 1) 100%);
		}
		
		@media (prefers-color-scheme: light) {
			background: rgb(183, 204, 254);
				background: linear-gradient(337deg, rgba(183, 204, 254, 1) 4%, rgba(194, 252, 252, 1) 27%, rgba(210, 201, 221, 1) 72%, rgba(194, 252, 252, 1) 100%);
			}
	@media (max-width: $tablet) {
		font-size: 16px;
	}
}

.glow {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	overflow: hidden;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -120px;
		left: calc(50% - 360px);
		width: 720px;
		height: 240px;
		
		@media (prefers-color-scheme: dark) {
			background: radial-gradient(
				50% 50% at 50% 50%,
				rgba(255, 255, 255, 0.06) 0%,
				rgba(255, 255, 255, 0) 100%
			);
		}
	}
}

::selection {
	background: color(orange, 200);
	@media (prefers-color-scheme: dark) {
		background: color(orange, 600);
	}
}

a,
a:visited {
	color: color(orange, 600);
	@media (prefers-color-scheme: dark) {
		color: color(orange, 300);
	}
	transition: 0.1s ease;

	&:hover {
		color: color(orange, 500);
	}
}

hr {
	margin: 1em 0;
	border: 0;
	border-bottom: 1px solid color(gray, 100);
	@media (prefers-color-scheme: dark) {
		border-color: color(gray, 900);
	}
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 2em 0;
	padding: 2em 0;

	a {
		transition: 0.1s ease;
		&:hover {
			opacity: 0.6;
		}
	}

	#site_title {
		margin: 0;
	}
	#site_title a {
		display: flex;
		align-items: center;
		gap: 7px;
		color: color(gray, 950);
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 2px;
		line-height: 1;
		text-decoration: none;
		text-transform: uppercase;
		@media (prefers-color-scheme: dark) {
				color: $white;
			}
	}
	.links a {
		margin-left: 1em;
		color: color(gray, 800);
		@media (prefers-color-scheme: dark) {
			color: color(gray, 200);
		}
	}
}

.content {
	ol,
	ul {
		padding-left: 2em;
		margin-bottom: 1em;
	}

	ul {
		list-style: none;

		li {
			position: relative;
			margin-bottom: 0.75em;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -1em;
				top: 0.63em;
				width: 8px;
				height: 8px;
				background: linear-gradient(25deg, color(purple, 500), color(orange, 500));
				border-radius: 99px;
			}
		}
	}
}

.page_title {
	margin: 1.5em 0;
	@media (max-width: $tablet) {
		margin: 0.5em 0;
	}
}

.posts {
	list-style: none;
	padding: 0;
}

.post {
	display: flex;
	width: 100%;
	@media (max-width: $tablet) {
		flex-flow: column;
	}

	&:last-child .content,
	&.single .content {
		border-bottom: 0;
	}
}

.version_wrapper {
	flex-basis: 260px;
	@media (max-width: $container) {
		flex-basis: 140px;
	}
	flex-grow: 0;
	flex-shrink: 0;
	margin: 4.5em 0 0 0;
	@media (max-width: $tablet) {
		flex-basis: 0;
		margin-top: 2em;
	}

	.version_info {
		position: sticky;
		top: 1em;
		@media (max-width: $tablet) {
			position: relative;
			top: 0;
		}
	}

	a {
		float: left;
		color: $white;
		text-decoration: none;
		transition: 0.1s ease;

		&:hover {
			opacity: 0.6;
		}
	}
}

.version_number {
	display: inline-block;
	font-family: $codeFont;
	line-height: 1;
	margin: 8px;
	padding: 20px 15px;
	color: $white;
	@media (prefers-color-scheme: dark) {
			background: rgb(0, 0, 0);
			background: linear-gradient(164deg, rgb(0, 191, 255) 0%, rgba(13, 52, 79, 1) 34%, rgba(68, 14, 58, 1) 70%, rgba(0, 0, 0, 1) 100%);
		}
	
		@media (prefers-color-scheme: light) {
			background: rgb(255, 154, 73);
				background: linear-gradient(337deg, rgba(255, 154, 73, 0.438521270324536) 4%, rgba(0, 122, 156, 0.8082691694841999) 27%, rgba(137, 44, 255, 0.8642915784477854) 72%, rgba(241, 181, 43, 0.5981851358707546) 100%);
		}
	border-radius: 8px;
}

.date {
	clear: both;
	color: white;
	@media (max-width: $tablet) {
		display: inline;
		margin-left: 1em;
	}

	@media (prefers-color-scheme: dark) {
		color: white;
	}
	font-family: $codeFont;
	font-size: $fontSizeSmall;
}

.content {
	margin: 0;
	padding: 4em 0;
	@media (max-width: $tablet) {
		margin: 1em 0;
		padding: 0 0 2em 0;
	}
	border-bottom: 1px solid color(gray, 100);
	@media (prefers-color-scheme: dark) {
		border-color: color(gray, 900);
	}
	*:first-child {
		margin-top: 0;
	}
	img {
		max-width: 100%;
		height: auto;
		border-radius: 12px;
		border: 1px solid color(gray, 200);
		@media (prefers-color-scheme: dark) {
			border-color: color(gray, 800);
		}
	}
}

footer {
	display: flex;
	padding: 2em 0;
	@media (max-width: $tablet) {
		padding: 1em 0;
	}
	color: color(gray, 500);
	justify-content: space-between;
	border-top: 1px solid color(gray, 100);
	@media (prefers-color-scheme: dark) {
		border-color: color(gray, 900);
	}

	a {
		margin-left: 1em;
		color: color(gray, 500);
		text-decoration: none;
		&:hover {
			color: color(gray, 500);
			opacity: 0.6;
		}
	}
}

.pagination-container nav {
	width: 100%;
	justify-content: center;
}

nav[role="navigation"] ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}


nav[role="navigation"] ul li a {
	padding: 10px 15px;
	border-radius: 4px;
	font-size: 1rem;

	@media (prefers-color-scheme: dark) {
		color: #ffffff;
		border: 1px solid #fcfcfc;
	}

	@media (prefers-color-scheme: light) {
		color: #000000;
		border: 1px solid #000000;
	}

	transition: background-color .3s ease,
	color .3s ease;
	text-decoration: none;
	margin-right: 10px;
}


nav[role="navigation"] ul li:last-child a {
	margin-right: 0;
}

nav[role="navigation"] ul li em {
	padding: 10px 15px;
	border-radius: 4px;
	font-size: 1rem;
	color: #fff;

	@media (prefers-color-scheme:dark) {
		background-color: #4224af;

	}

	@media (prefers-color-scheme:light) {
		background-color: #161616;

	}

	margin-right: 10px;
}

nav[role="navigation"] ul li a:hover {
	@media (prefers-color-scheme:dark) {
		background-color: #0056b3;
		color: #fff;
	}

	@media (prefers-color-scheme:light) {
		background-color: #1c1b1a;
		color: #fff;
	}
}


nav[role="navigation"] ul li span.start-ellipsis,
nav[role="navigation"] ul li span.end-ellipsis {
	padding: 10px 15px;
	font-size: 1rem;
	color: #ffffff;
	margin-right: 0;
}
.settingBtn {
	display: inline-block;
	font-family: $codeFont;
	padding: 10px 10px;
	background-color: lightblue;
	border-radius: 8px;
}