---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "../layouts/IndexLayout.astro";
import Pagination from "@philnash/astro-pagination";
import type { PaginateFunction } from "astro";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const posts = await getCollection("releases");
  posts.sort((a, b) => +b.data.date - +a.data.date);

  return paginate(posts, {
    pageSize: 1,
  });
}

const { page } = Astro.props;
---

<Layout>
  <main>
    <h1 class="page_title">Latest Blog Posts</h1>

    <hr class="border-b" style="border-bottom:  1px solid rgb(31,  32,  35);" />
    <ul class="posts" transition:name="post">
      {
        page.data.map((post: any) => (
          <li class="post">
            <div class="version_wrapper">
              <div class="version_info">
                <a href={`/releases/${post.slug}`}>
                  <div class="version_number">
                    <FormattedDate class="date" date={post.data.date} />
                  </div>
                </a>
              </div>
            </div>
            <div class="content">
              {post.render().then(({ Content }: any) => (
                <Content />
              ))}
            </div>
          </li>
        ))
      }
    </ul>
    <div class="pagination-container">
      <Pagination page={page} urlPattern="/{}" showPrevNext={false} />
    </div>
  </main>
</Layout>
