---
import "../styles/global.scss";
---

<footer>
  <div>
    <p>© Secomea 2024, All rights reserved</p>
  </div>
  <div class="github-section">
    <img
      src="https://cdn3.iconfinder.com/data/icons/social-media-circle/512/circle-github-512.png"
      alt="GitHub Mark"
      style="height: 40px; width: 40px;"
    />
    <a href="https://github.com/" style="margin-top:15px;">
      <p class="">github</p>
    </a>
  </div>
</footer>
