---
import "../styles/global.scss";

const { prevUrl, nextUrl, totalPages, currentPage } = Astro.props;
---

<nav aria-label="Blog pages" style="justify-content: center;">
  {
    prevUrl && (
      <div>
        <a href={prevUrl} class="pagenationbtn" style="color:black">
          previus
        </a>
      </div>
    )
  }
  <div>
    <a href={"/"} class="pagenationNumber"> 1</a>
    <a href={"/2"} class="pagenationNumber"> 2</a>
    <a href={"/3"} class="pagenationNumber"> 3</a>
  </div>
  {
    nextUrl && (
      <div>
        <a href={nextUrl} class="pagenationbtn" style="color:black">
          Next
        </a>
      </div>
    )
  }
</nav>
